################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HazardousSubstancesBlazorServerApp/.vs/HazardousSubstancesBlazorServerApp
/HazardousSubstancesBlazorServerApp/HazardousSubstancesBlazorServerApp/obj
/HazardousSubstancesBlazorServerApp/HazardousSubstancesBlazorServerApp/bin/Debug/net6.0
/HazardousSubstancesBlazorServerApp/.vs/ProjectEvaluation/hazardoussubstancesblazorserverapp.projects.v5.1
/HazardousSubstancesBlazorServerApp/.vs/ProjectEvaluation/hazardoussubstancesblazorserverapp.metadata.v5.1
