@page "/"
@using HazardousSubstancesBlazorServerApp.Pages.Components
@using HazardousSubstancesBlazorServerApp.Model

<DxGridLayout CssClass="w-100 ch-480">
    <Rows>
        <DxGridLayoutRow Height="20%" />
        <DxGridLayoutRow Height="60%" />
        <DxGridLayoutRow Height="20%" />
    </Rows>
    <Columns>
        <DxGridLayoutColumn Width="25%" />
        <DxGridLayoutColumn Width="25%" />
        <DxGridLayoutColumn Width="50%" />
    </Columns>
    <Items>
        <DxGridLayoutItem Row="0" Column="0" ColumnSpan="2">
            <Template>
                <div class="gridlayout-header gridlayout-item">
                    <ProductInfo Product=@Product></ProductInfo>
                </div>
            </Template>
        </DxGridLayoutItem>
        <DxGridLayoutItem Row="1" Column="0">
            <Template>
                <div class="gridlayout-content gridlayout-item" style="background-color: red;">
                    Item-2
                </div>
            </Template>
        </DxGridLayoutItem>
        <DxGridLayoutItem Row="1" Column="1">
            <Template>
                <div class="gridlayout-left-side-bar gridlayout-item">
                    <ProductDesc Product=@Product></ProductDesc>
                </div>
            </Template>
        </DxGridLayoutItem>
        <DxGridLayoutItem Row="2" Column="0" ColumnSpan="2">
            <Template>
                <div class="gridlayout-right-side-bar gridlayout-item" style="background-color: yellow;">
                    <ProductStat></ProductStat>
                </div>
            </Template>
        </DxGridLayoutItem>
        <DxGridLayoutItem Row="0" Column="2">
            <Template>
                <div class="gridlayout-footer gridlayout-item" style="background-color: pink;">
                    Item-5
                </div>
            </Template>
        </DxGridLayoutItem>
    </Items>
</DxGridLayout>

@code {
    public Product Product { get; set; } = new Product()
    {
        ID = 1,
        Name = "MANNOL 7507 Defender 10W-40",
        Description = "Universalmotorenöl auf hydrosynthetischer Basis für Benzin- und Dieselmotoren, sowohl neuer als auch 'alter' Marken und mit hoher Laufleistung. Entwickelt auf Basis der Anforderungen europäischer Hersteller.",
        Warning = new List<string> 
        {
            "Sample text for fire hazard",
            "Sample text for fire hazard",
            "Sample text for fire hazard",
            "Sample text for fire hazard",
            "Sample text for fire hazard"
        },
        Info = new List<string>
        {
            "Sample text for ear protection",
            "Sample text for ear protection"
        },
    };
}