@page "/"
@using HazardousSubstancesBlazorServerApp.Pages.Components
@using HazardousSubstancesBlazorServerApp.Model


<DxLayoutBreakpoint DeviceSize="DeviceSize.XSmall" @bind-IsActive="@isXSmallScreen" />
<DxLayoutBreakpoint DeviceSize="DeviceSize.Small" @bind-IsActive="@isXSmallScreen" />

<DxGridLayout CssClass="h-100" ColumnSpacing="8px" RowSpacing="8px">
    <Rows>
        @if (isXSmallScreen)
        {
            <DxGridLayoutRow Height="175px" Areas="item1" />
            <DxGridLayoutRow Height="500px" Areas="item2" />
            <DxGridLayoutRow Height="500px" Areas="item3" />
            <DxGridLayoutRow Height="300px" Areas="item4" />
            <DxGridLayoutRow Height="450px" Areas="item5" />
        }
        else
        {
            <DxGridLayoutRow Height="175px" Areas="item1 item1 item5" />
            <DxGridLayoutRow Height="500px" Areas="item2 item3 item5" />
            <DxGridLayoutRow Height="300px" Areas="item4 item4 item5" />
        }
    </Rows>
    <Columns>
        @if (!isXSmallScreen)
        {
            <DxGridLayoutColumn Width="30%" />
            <DxGridLayoutColumn Width="30%" />
            <DxGridLayoutColumn Width="40%" />
        }
    </Columns>
    <Items>
        <DxGridLayoutItem Area="item1">
            <Template>
                <div class="gridlayout-item">
                    <ProductInfo Product=@Product></ProductInfo>
                </div>
            </Template>
        </DxGridLayoutItem>
        <DxGridLayoutItem Area="item2">
            <Template>
                <div class="gridlayout-item">
                    <ProductCarousel Product=@Product></ProductCarousel>
                </div>
            </Template>
        </DxGridLayoutItem>
        <DxGridLayoutItem Area="item3">
            <Template>
                <div class="gridlayout-item">
                    <ProductDesc Product=@Product></ProductDesc>
                </div>
            </Template>
        </DxGridLayoutItem>
        <DxGridLayoutItem Area="item4">
            <Template>
                <div class="gridlayout-item">
                    <ProductStat></ProductStat>
                </div>
            </Template>
        </DxGridLayoutItem>
        <DxGridLayoutItem Area="item5">
            <Template>
                <div class="gridlayout-item">
                    <ProductPdf Product=@Product></ProductPdf>
                </div>
            </Template>
        </DxGridLayoutItem>
    </Items>
</DxGridLayout>
@*
<DxGridLayout CssClass="w-100 ch-480">
    <Rows>
        <DxGridLayoutRow Height="20%" />
        <DxGridLayoutRow Height="60%" />
        <DxGridLayoutRow Height="20%" />
    </Rows>
    <Columns>
        <DxGridLayoutColumn Width="30%" />
        <DxGridLayoutColumn Width="30%" />
        <DxGridLayoutColumn Width="40%" />
    </Columns>
    <Items>
        <DxGridLayoutItem Row="0" Column="0" ColumnSpan="2">
            <Template>
                <div class="gridlayout-header gridlayout-item">
                    <ProductInfo Product=@Product></ProductInfo>
                </div>
            </Template>
        </DxGridLayoutItem>
        <DxGridLayoutItem Row="1" Column="0">
            <Template>
                <div class="gridlayout-content gridlayout-item">
                    <ProductCarousel Product=@Product></ProductCarousel>
                </div>
            </Template>
        </DxGridLayoutItem>
        <DxGridLayoutItem Row="1" Column="1">
            <Template>
                <div class="gridlayout-left-side-bar gridlayout-item">
                    <ProductDesc Product=@Product></ProductDesc>
                </div>
            </Template>
        </DxGridLayoutItem>
        <DxGridLayoutItem Row="2" Column="0">
            <Template>
                <div class="gridlayout-right-side-bar gridlayout-item" style="background-color: yellow;">
                    <ProductStat></ProductStat>
                </div>
            </Template>
        </DxGridLayoutItem>
        <DxGridLayoutItem Row="0" Column="2" ColumnSpan="3">
            <Template>
                <div class="gridlayout-footer gridlayout-item">
                    <ProductPdf Product=@Product></ProductPdf>
                </div>
            </Template>
        </DxGridLayoutItem>
    </Items>
</DxGridLayout>*@

@code {
    public bool isXSmallScreen;

    public Product Product { get; set; } = new Product()
    {
        ID = 1,
        Name = "MANNOL 7507 Defender 10W-40",
        ContactNo = "+43 1 4064343",
        Description = "Universalmotorenöl auf hydrosynthetischer Basis für Benzin- und Dieselmotoren, sowohl neuer als auch 'alter' Marken und mit hoher Laufleistung. Entwickelt auf Basis der Anforderungen europäischer Hersteller.",
        Warning = new List<string> 
        {
            "Sample text for fire hazard",
            "Sample text for fire hazard",
            "Sample text for fire hazard",
            "Sample text for fire hazard",
            "Sample text for fire hazard"
        },
        Info = new List<string>
        {
            "Sample text for ear protection",
            "Sample text for ear protection"
        },
        Images = new List<string>
        {
            "Mannol1 (For Carousel).jpg",
            "Mannol2 (For Carousel).jpg",
            "Mannol3 (For Carousel).jpg",
            "Mannol4 (For Carousel).jpg"
        },
        HazardNessLevels = new List<HazardNessLevel>{
            new HazardNessLevel()
            {
                HazardNessName = "Physikalisch",
                Intensity = 20
            },
            new HazardNessLevel()
            {
                HazardNessName = "Gesundheit",
                Intensity = 70
            },
            new HazardNessLevel()
            {
                HazardNessName = "Umwelt",
                Intensity = 40
            },
        },
            Pdf = "SDS datenblatt_0001907_1"
        };
}