@using HazardousSubstancesBlazorServerApp.Model

<style>
    .li-image {
        list-style-type: none !important;
        margin-left: 0px;
        padding-left: 0px;
        display: inline-block;
        width: 100%;
    }

    .li-image img {
        float: left;
    }

    .li-image span {
        text-align: right; 
        display:inline-block;
        padding: 5px;
    }

    .card {
        padding:5px !important;
    }

    .card-body {
        padding: 2px 10px;
    }

</style>
<div class="card border-secondary mb-3">
    <div class="card-body">
   
        <div class="row">
            <div class="col">
                <h3>Blazor web forms</h3>
            </div>
        </div>

        <div class="row">
            <div class="col">
                @Product.Description
            </div>
        </div>

        <div class="row">
            <div class="col">
                <ul style="padding:10px 0px 0px 0px;">
                @foreach (string warn in Product.Warning)
                {
                    <li class="li-image">
                        <img src="images/common/0176 ghs02 entzündbare stoffe.png" height="32px" width="32px" />
                        <span>
                            @warn
                        </span>
                    </li>
                }

                @foreach (string info in Product.Info)
                {
                    <li class="li-image">
                        <img src="images/common/gebotszeichen-gehoerschutz-benutzen-nach-iso-7010-m-003-12331-zhYL7-1476126955.png" height="32px" width="32px" />
                        <span>
                            @info
                        </span>
                    </li>
                }
                </ul>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Product Product { get; set; }
}
