@using HazardousSubstancesBlazorServerApp.Model

<style>
    .alert {
        padding: 0px;
        text-align: center;
        margin-bottom: unset;   
    }
</style>

<div class="alert alert-dark" role="alert">
    @Product.Name
</div>
<div style="text-align:end; padding-right:10px;">
    <img src="/Images/Common/depositphotos_26680195-stock-photo-emergency-call-icon.png" height="32px" width="32px" />
    &nbsp;<span class="mt-1">@Product.ContactNo</span>
</div>

@code {
    [Parameter]
    public Product Product { get; set; }
}
