@using HazardousSubstancesBlazorServerApp.Model

@{
    string pdfUrl = $"pdf/product/{Product.ID}/{Product.Pdf}.pdf";
}
<div class="container-fluid">
    <div class="row">
        <p style="text-align:center">@Product.Pdf</p>
    </div>

    <div class="row" style="height:100vh;">
        <embed src=@pdfUrl type="application/pdf">
    </div>
</div>

@code {
    [Parameter]
    public Product Product { get; set; }
}
