@using HazardousSubstancesBlazorServerApp.Model

<style>
    .desc-head-1 {
        margin-bottom: 0px;
    }
    .desc-head-2 {
        color:darkgray !important;
    }

    .li-image {
        list-style-type: none !important;
        margin-left: 0px;
        padding-left: 0px;
        padding-top: 2px;
        display: inline-block;
        width: 100%;
    }

    .li-image img {
        float: left;
    }

    .li-image span {
        text-align: left; 
        display:inline-block;
        padding: 5px;
    }

    .card-desc {
        padding:5px !important;
        border: none !important;
        min-height:450px !important;
        max-height:450px !important;
        overflow-y: auto;
    }

    .li-image img {
        height: 28px;
        width: 28px;
    }

    .card-body {
        padding: 2px 10px;
    }

    .desc-text-style {
        font-size:13px;
    }

    .desc-text-style .col ul {
            padding: 10px 0px 0px 0px !important;
    }
</style>

<div class="card card-desc shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">
   
        <!-- Row-1 -->
        <div class="row">
            <div class="col">
                <h3 class="desc-head-1">@Product.Description_1</h3>
                <h5 class="desc-head-2">@Product.Description_2</h5>
            </div>
        </div>

        <!-- Row-2 -->
        <div class="row desc-text-style">
            <div class="col">
                @Product.Description_3
            </div>
        </div>

        <!-- Row-3 -->
        <div class="row desc-text-style">
            <div class="col">
                <ul>

                @foreach (DescListData info in Product.Info)
                {
                    <li class="li-image">
                        @{
                            var iconPath = $"images/common/{info.IconSrc}";
                        }
                            <img src=@iconPath />
                        <span>
                            @info.Information
                        </span>
                    </li>
                }
                </ul>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Product Product { get; set; }
}
