@using HazardousSubstancesBlazorServerApp.Model

<div class="row">
    <div class="col">
        <h3>Blazor web forms</h3>
    </div>
</div>

<div class="row">
    <div class="col">
        @Product.Description
    </div>
</div>

<div class="row">
    <div class="col">
        <ul>
        @foreach (string warn in Product.Warning)
        {
            <li>@warn</li>
        }

        @foreach (string info in Product.Info)
        {
            <li>@info</li>
        }
        </ul>
    </div>
</div>

@code {
    [Parameter]
    public Product Product { get; set; }
}
