@using HazardousSubstancesBlazorServerApp.Model

@{
    string pdfUrl = $"pdf/product/{Product.ID}/{Product.Pdf}.pdf";
}

<p style="text-align:center">@Product.Pdf</p>
<embed src=@pdfUrl type="application/pdf" style="width: 100%; height: calc(100% - 58px);">

@code {
    [Parameter]
    public Product Product { get; set; }
}
