@using HazardousSubstancesBlazorServerApp.Model

<style>
    .alert {
        padding: 3px;
        text-align: center;
    }
</style>

<div class="alert alert-dark" role="alert">
    @Product.Name
</div>
<div style="text-align:end; padding-right:10px;">
    <img src="/Images/Common/depositphotos_26680195-stock-photo-emergency-call-icon.png" height="50px" width="50px" />
    <br />
    @Product.ContactNo
</div>

@code {
    [Parameter]
    public Product Product { get; set; }
}
