@inherits LayoutComponentBase

<TopNavBar />
<div style="margin-top: 58px;">
</div>

<div class="page">
    <div class="sidebar bg-primary">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>